.form-group {
    margin-bottom: 20px; 
  }
  
  label {
    display: block;
    font-weight: bold; 
    margin-bottom: 5px;
    color: #fff;
  }
  
  input[type="text"], select {
    width: 100%; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }
  
  .btn-primary {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
  }
  