/* .container {
  margin-top: 30px;
}
.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

.row {
  text-align: center; 
}

hr {
  border: none;
  border-top: 2px solid #555; 
  margin: 20px 0; 
}

app-new-account {
  margin-bottom: 20px; 
}

app-account {
  background-color: #f9f9f9; 
  padding: 20px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  margin-bottom: 20px; 
} */
